.salary {
    -fx-pie-color: #71C643;
}
.meal-vouchers {
    -fx-pie-color: #BED940;
}
.reimbursement {
    -fx-pie-color: #18B272;
}
.blablacar {
    -fx-pie-color: #47A7E6;
}
.car {
    -fx-pie-color: #47A7E6;
}
.savings {
    -fx-pie-color: #6D6E89;
}
.rent {
    -fx-pie-color: #DE8135;
}
.home {
    -fx-pie-color: #DE8135;
}
.gifts {
    -fx-pie-color: #F5534B;
}
.groceries {
    -fx-pie-color: #B47B55;
}
.take-away-restaurant {
    -fx-pie-color: #B9965E;
}
.drinks {
    -fx-pie-color: #DF8C29;
}
.brewing {
    -fx-pie-color: #18B272;
}
.utilities {
    -fx-pie-color: #61708C;
}
.transportation {
    -fx-pie-color: #FFCC00;
}
.concerts {
    -fx-pie-color: #60CFCB;
}
.music {
    -fx-pie-color: #FFA800;
}
.reading {
    -fx-pie-color: #5CC5AC;
}
.games {
    -fx-pie-color: #3D75AB;
}
.accomodation {
    -fx-pie-color: #6E8CB1;
}
.other{
    -fx-pie-color: #7945D0;
}



