.cell-amount-negative {
    -fx-text-fill: #e35d6a;
}

.cell-amount-positive {
    -fx-text-fill: #5cb85c;
}

.cell-amount-negative, .cell-amount-positive {
    -fx-font-weight: bold;
}

.amount-column {
    -fx-alignment: center;
}