.cell-amount-negative {
    -fx-text-fill: #FF1111;
}

.cell-amount-positive {
    -fx-text-fill: #11FF11;
}

.cell-amount-negative, .cell-amount-positive {
    -fx-font-weight: bold;
}

.amount-column {
    -fx-alignment: center;
}