.filter-title {
    -fx-text-fill: grey;
}

.clear-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.2;
}

.clear-button:hover {
    -fx-opacity: 0.8;
}

.toggle-button:selected {
    -fx-background-color: lightskyblue;
}

.today-button {
    -fx-background-color: lightgrey;
}

.toggle-button {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-min-width: 2em;
}

.toggle-button.today {
    -fx-background-color: lightgrey;
}

.shown-transactions {
    -fx-font-size: 18px;
    -fx-text-fill: grey;
}

.hyperlink {
    -fx-border-color: transparent;
}

.hyperlink:visited {
    -fx-text-fill: inherit;
}
