#transactions-table {
    -fx-selection-bar: #B8E1FF;
    -fx-selection-bar-non-focused: #D9EFFF;
}

.cell-amount-negative {
    -fx-text-fill: #e35d6a;
}

.cell-amount-positive {
    -fx-text-fill: #5cb85c;
}

.cell-amount-negative, .cell-amount-positive {
    -fx-font-weight: bold;
}

.amount-column {
    -fx-alignment: center;
}
